<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="InfrastructureContextEF" 
         connectionString="Data Source=(localdb)\v11.0; Initial Catalog=InfrastructureContextEF-20130914113554; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|InfrastructureContextEF-20130914113554.mdf"
         providerName="System.Data.SqlClient" />-->
    <add name="InfrastructureContextEF" 
         connectionString="data source=.;initial catalog=InfrastructureContextEF;user id=sa;password=123;MultipleActiveResultSets=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>